* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Mukta', sans-serif;
}
body {
	background-color: #f7f8f9;
	min-height: 100vh;
	display: grid;
	grid-template-rows: 10vh 9vh 64vh 9vh 8vh;
}
header,
footer {
	background-color: #ffffff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: gray 0px 0px 5px 0px;
}
header {
	color: white;
	background-color: #142433;
}
footer {
	grid-row: 5;
}
#contact {
	display: flex;
	align-items: center;
}
#contact > a > img {
	margin-top: 5px;
	margin-left: 10px;
	cursor: pointer;
}
main {
	grid-row: 3;
	box-shadow: gray 0px 0px 5px 0px;
	background-color: #ffffff;
	display: grid;
	grid-template-columns: 50% 50%;
	justify-items: center;
}

form {
	font-size: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 80%;
}
#submit-button {
	font-size: 16px;
	padding-left: 8px;
	padding-right: 8px;
	background-color: #2f8c9c;
	color: white;
	border: none;
	width: max-content;
	border-radius: 4px;
	cursor: pointer;
}
input {
	width: 150px;
	text-align: center;
	text-transform: capitalize;
}

#results-container {
	width: 80%;
}
#temporary-msg {
	margin-top: 20px;
	text-align: center;
}

.coincidences {
	text-align: center;
	text-transform: capitalize;
	margin-top: 20px;
}
.song {
	margin-top: 5px;
	overflow-y: scroll;
	height: 55vh;
}
.match-word {
	background-color: rgb(36, 192, 208);
	border-radius: 2px;
}

@media (max-width: 400px) {
	body {
		grid-template-rows: 10vh 1fr 6vh;
		grid-gap: 50px;
	}
	main {
		grid-row: auto;
		grid-template-rows: 64vh auto;
		grid-template-columns: none;
		grid-gap: 28px;
		background-color: #f7f8f9;
	}
	header {
		grid-row: auto;
	}
	form {
		width: 100%;
		background: white;
		box-shadow: gray 0px 0px 5px 0px;
	}
	#results-container {
		width: 100%;
		background-color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		box-shadow: gray 0px 0px 5px 0px;
	}
	#temporary-msg {
		margin-top: 10px;
	}
	.song {
		width: 80%;
	}
	footer {
		grid-row: auto;
	}
}
